@charset "utf-8";

/*ブラウザの既定スタイルを解除する--ここから*/

/*要素の余白をなくす*/
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*リストの行頭アイコンを非表示にする*/
ul,
ol {
  list-style: none;
}

/*リンクの文字色と下線をなくす*/
a {
  color: inherit;
  text-decoration: none;
}

/*ブラウザの既定スタイルを解除する--ここまで*/

body {
  font-family: sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 1;
  background-color: #fff;
}
img {
  max-width: 100%;
}

.header-inner {
  max-width: 1200px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-menu-button {
  display: none;
}

.header-logo {
  display: block;
  width: 110px;
}

.footer ul,
.header ul{
  display: flex;
  justify-content: flex-end;
}

.site-menu ul li {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0 5%;
}

.footer {
  color: #ffffff;
  background-color: #24211b;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.footer-logo {
  display: block;
  width: 235px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.footer-tel {
  font-size: 26px;
  font-weight: bold;
  margin-top: 28px;
}

.footer .site-menu ul li {
  width: 90px;
  text-align: center;
  margin: 0;
}

.footer .access ul li{
  margin: 0 7.5px;
}

.footer .access img{
  width: 30px;
  vertical-align: bottom;
}

.access{
  display: block;
}

.copyright {
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

/*ここに書いたCSSは800px以下の時だけ適用される*/
@media (max-width: 800px) {

  .header .site-menu ul {
    display: block;
    text-align: center;
  }

  .footer .site-menu {
    width: 400px;
  }

  .site-menu ul li {
    margin-top: 20px;
    margin: 20px auto 0  ;
  }

  .footer .site-menu li {
    width: 80px;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 50px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  }

  .header-inner {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
  }

  .header-logo {
    width: 50px;
  }

  .header-site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #ffffff;
    background-color: #736e62;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
  }

  .header-site-menu.is-show {
    display: block;
  }

  .toggle-menu-button {
    display: block;
    width: 44px;
    height: 34px;
    background-image: url(../images/common/icon-menu.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
  }

  .main {
    padding-top: 50px;

  }

  .footer-logo {
    margin-top: 30px;
  }

  .footer-tel {
    font-size: 20px;
  }

  .copyright {
    margin-top: 30px;
  }
}

/*ここに書いたCSSは400px以下の時だけ適用される*/
@media (max-width: 400px) {

  .header .site-menu {
    width: auto;
  }

  .footer .site-menu ul {
    display: block;
    text-align: center;
  }

 .site-menu ul li {
    width: auto;
    margin-top:5%;
  }



}