@charset "utf-8";

.title {
  height: 310px;
  background-image: url(../images/contact/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.main h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
}

.main h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
}

.sns-area {
  width: 930px;
  max-width: 90%;
  background-color: #f8f8f8;
  padding: 50px 60px;
  margin-top: 55px;
  margin-left: auto;
  margin-right: auto;
}

.sns-area h2 {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.sns-area h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.sns-area ul{
  display: flex;
  margin-top: 20px;
  text-align: center;
  justify-content: space-around;
}

.sns-area img{
  margin-top: 30px;
  height: 200px;
}


.contact {
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.form-area {
  background-color: #f8f8f8;
  border: 1px solid #aaaaaa;
  margin-top: 25px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.form-area dt {
  width: 200px;
  padding: 15px 0px;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
}

.form-area dt .required::after {
  content: '必須';
  font-size: 11px;
  color: #eb4f32;
  margin-left: 10px;
}

.form-area dd {
  width: calc(100% - 200px);
  padding: 15px 0px;
}

.input-text {
  width: 100%;
  max-width: 280px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.select-box {
  width: 200px;
  height: 40px;
}

.radio-botton {
  display: block;
  margin-top: 20px;
}

.radio-botton input {
  margin-right: 8px;
}

.message {
  width: 100%;
  height: 260px;
  padding: 10px;
  line-height: 1.5;
}

.confirm-text {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
}

.submit-botton {
  background-color: #f4dd64;
  display: block;
  min-width: 180px;
  width: 260px;
  line-height: 48px;
  border-radius: 24px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-align: center;
  margin: 20px auto 0px auto;
  cursor: pointer;
  border: none;
}

.submit-botton:hover {
  background-color: #d8b500;
}

.footer {
  margin-top: 100px;
}

@media(max-width: 800px) {

  .map,
  .contact,
  .sns-area {
    width: 500px;
    margin-top: 45px;
  }

  .sns-area img{
    height: 150px;
  }

  .form-area dt,
  .form-area dd {
    width: 100%;
  }

  .form-area dt {
    padding-bottom: 0px;
  }

  .submit-botton {
    width: 100%;
  }
}