@charset "utf-8";

.title {
  height: 310px;
  background-image: url(../images/works/bg-main.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  text-shadow: 1px 1px 10px #4b2c14;
}

.title h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.title p {
  font-size: 14px;
  margin-top: 15px;
}

.item-list {
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  column-gap: 95px;
  row-gap: 70px;
  justify-content: center;
}

.item-list dl {
  margin-top: 20px
}

.item-list dt {
  height: 50px;
  font-weight: bold;
}

.item-list dd {
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}

.item-list .price {
  font-weight: bold;
  margin-top: 15px;
}

.item-list li {
  position: relative;
}

.item-list .item-label {
  position: absolute;
  top: 0px;
  left: calc(100% + 18px);
  font-size: 10px;
  white-space: nowrap;
  transform-origin: top left;
  transform: rotate(90deg);
}

/* >> RECENT STUDYの画像を中央揃えにしている >> */
.StudyBook {
  position: relative;
  width: 260px;
  height: 330px;
}

.StudyBook img {
  position: absolute;
  top:50%;
  transform: translate(0,-50%);
}
/* << RECENT STUDYの画像を中央揃えにしている << */

@media(max-width: 800px){
  .item-list{
    margin-top: 45px;
    row-gap: 40px;
  }
  .footer {
    margin-top: 10%;
  }
}